<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/myapp/change_password_get/">change password </a><br>
    <a href="/myapp/view_company_get/">view company</a><br>
    <a href="/myapp/view_approved_company_get/">view approved company </a><br>
    <a href="/myapp/view_rejected_company_get/">view rejected company </a><br>
    <a href="/myapp/add_skill_get/">add skill  </a><br>
{#    <a href="/myapp/view_vaccancy_get/">view company vaccancy </a><br>#}
    <a href="/myapp/add_notification_get/">add notification </a><br>
    <a href="/myapp/view_notification_get/">view notification </a><br>
    <a href="/myapp/view_complaints_get/"> view complaints</a><br>
    <a href="/myapp/send_reply_get/"> send reply</a><br>
    <a href="/myapp/add_college_get/"> add college</a><br>
    <a href="/myapp/view_college_get/"> view college </a><br>
{#    <a href="/myapp/view_course_get/"> view course</a><br>#}
    <a href="/myapp/view_skill_get/"> view skill</a><br>
    <a href="/myapp/logout/">logout</a><br>

</body>
</html>