{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends "admin/admin_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/view_company_post/#abc">
    {% csrf_token %}
  <table class="px pull-left">
    <tr>
      <th scope="col"><input type="text" name="textfield" id="textfield" class="form-control" required/></th>
      <th scope="col"><input type="submit" name="button" class="btn btn-info" id="button" value="SEARCH" /></th>
    </tr>
  </table>
  <table border="1px" class="table table-borderd mt-4 -align-center">
    <tr>
      <th width="5" scope="col">SLNO</th>
      <th scope="col">LOGO</th>
      <th scope="col">NAME</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">CONTACTS</th>
{#      <th scope="col">PHONE</th>#}
      <th scope="col">SINCE</th>
      <th scope="col">PROOF</th>
      <th scope="col">PHOTO</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.logo }}" height="100" width="100"></td>
      <td>{{ i.name }}</td>
      <td>&nbsp;{{ i.place }}<br>{{ i.post }}<br>{{ i.pin }}<br>{{ i.district }}<br>{{ i.state }}</td>
      <td>{{ i.email }}<br>
      {{ i.phone }}</td>
      <td>&nbsp;{{ i.since }}</td>
      <td>&nbsp;<img src="{{ i.proof }}" height="100" width="100"> </td>
        <td><img src="{{ i.photo}}" height="100" width="100"></td>

      <td><a href="/myapp/approve_company/{{ i.LOGIN.id }}" class="btn btn-success">APPROVE</a></td>
      <td><a href="/myapp/reject_company/{{ i.LOGIN.id }}" class="btn btn-danger">REJECT</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

{% endblock %}

{#</body>#}
{#</html>#}
