{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends "COLLEGE/college_index.html" %}
{% block body %}

<form action="/myapp/add_facility_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table table-borderd mt-4 table-dark -align-center ">
      {% csrf_token %}
    <tr>
      <td>FACILITY NAME</td>
      <td><input type="text" name="textfield" id="textfield" class="form-control" required pattern="[a-z A-Z]*"/></td>
    </tr>
    <tr>
      <td>DETAILS</td>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>PHOTO</td>
      <td><input type="file" name="fileField" id="fileField" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="ADD" /></td>
    </tr>
  </table>
</form>

{% endblock %}


{#</body>#}
{#</html>#}
