<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/myapp/college_change_password_get/">CHANGE PASSWORD </a><br>
    <a href="/myapp/view_college_profile_get/"> VIEW COLLEGE PROFILE </a><br>
    <a href="/myapp/add_department_get/"> ADD DEPARTMENT </a><br>
    <a href="/myapp/view_department_get/"> VIEW DEPARTMENT </a><br>
    <a href="/myapp/add_course_get/"> ADD COURSE</a><br>
    <a href="/myapp/view_course_college_get/"> VIEW COURSES </a><br>
    <a href="/myapp/add_fee_get/"> ADD FEES </a><br>
    <a href="/myapp/view_fee_get/"> VIEW FEES </a><br>
    <a href="/myapp/add_facility_get/"> ADD FACILITY </a><br>
    <a href="/myapp/view_facility_get/"> VIEW FACILITY</a><br>
    <a href="/myapp/logout/"> logout</a><br>


</body>
</html>