{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends "COLLEGE/college_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/college_change_password_post/">
    {% csrf_token %}
  <table width="390" border="1" class="table table-borderd mt-4 table-dark -align-center ">
    <tr>
      <td width="90">CURRENT PASSWORD</td>
      <td width="284"><input type="text" name="textfield" required id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <td>NEW PASSWORD</td>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>CONFIRM PASSWORD</td>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="SUBMIT" /></td>
    </tr>
  </table>
</form>

{% endblock %}

{#</body>#}
{#</html>#}
