<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_facility_post/">
{% csrf_token %}
  <table width="200" border="1">
    <tr>
      <td><input type="text" name="textfield" id="textfield" /></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" /></td>
    </tr>
  </table>
  <table width="200" border="1">
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">FACILITY NAME</th>
      <th scope="col">DETAILS</th>
      <th scope="col">PHOTO</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.facility_name }}</td>
      <td>&nbsp;{{ i.details}}</td>
      <td><img src="{{ i.photo }}" height="100" width="100"></td>
      <td><p><a href="/myapp/edit_facility_get/{{ i.id }}">EDIT</a></p>
      <p><a href="/myapp/delete_facility/{{ i.id }}">DELETE</a></p></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
