{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}


{#<body>#}
{% extends "COLLEGE/college_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
  <table width="200" border="1" class="table table-borderd mt-4  -align-center ">
    <tr>
      <td>LOGO</td>
      <td>&nbsp;<img src="{{ data.photo }}" width="100" height="100"></td>
    </tr>
    <tr>
      <td>NAME</td>
      <td>{{ data.name }}</td>
    </tr>
    <tr>
      <td>UNIVERSITY</td>
      <td>{{ data.university_name }}</td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
      <td>PHONE</td>
      <td>{{ data.phone }}</td>
    </tr>
    <tr>
      <td>ADDRESS</td>
      <td>&nbsp;{{ data.place }}<br>
          {{data.post}}<br>
          {{ data.pin }}<br>
          {{ data.district }}<br>
          {{ data.state }}

      </td>
    </tr>
    <tr>
      <td>SINCE</td>
      <td>{{ data.since }}</td>
    </tr>
  </table>
</form>

{% endblock %}
{#</body>#}
{#</html>#}
