<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/myapp/add_vaccancy_company_get/">ADD VACCANCY </a><br>
    <a href="/myapp/company_change_password_get/">CHANGE PASSWORD</a><br>
{#    <a href="/myapp/edit_profile_get/">EDIT PROFILE</a><br>#}
{#    <a href="/myapp/edit_vaccancy_get/">EDIT VACCANCY </a><br>#}
{#    <a href="/myapp/signup_company_get/">SIGNUP COMPANY</a><br>#}
{#    <a href="/myapp/view_vaccancy_get/">view company vaccancy </a><br>#}
    <a href="/myapp/view_approved_request_get/">VIEW APPROVED REQUEST </a><br>
    <a href="/myapp/view_profile_get/">VIEW PROFILE</a><br>
    <a href="/myapp/view_rejected_request_get/"> VIEW REJECTED REQUEST</a><br>
    <a href="/myapp/view_skill_company_get/"> VIEW SKILL</a><br>
    <a href="/myapp/view_vaccancy_company_get/"> VIEW VACCANCY</a><br>
    <a href="/myapp/logout/">logout</a><br>
{#    <a href="/myapp/view_vaccancy_request_get/"> VIEW VACCANCY REQUEST </a><br>#}
{#    <a href="/myapp/view_course_get/"> view course</a><br>#}

</body>
</html>