{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends "company/company_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/edit_vaccancy_post/">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ data.id }}"/>
  <table width="200" border="1" class="table table-borderd mt-4 table-dark -align-center ">
    <tr>
      <td>VACCANCY NO</td>
      <td><input type="number" name="textfield" class="form-control" id="textfield" value="{{ data.vaccancy_no }}" required/></td>
    </tr>
    <tr>
      <td>JOB TITLE</td>
      <td><input type="text" name="textfield2" class="form-control" id="textfield2" value="{{ data.job_title }}" required/></td>
    </tr>
    <tr>
      <td>STARTING DATE</td>
      <td><input type="date" name="textfield3" class="form-control" id="textfield3" value="{{ data.start_date|date:'Y-m-d' }}" required/></td>
    </tr>
    <tr>
      <td>ENDING DATE</td>
      <td><input type="date" name="textfield4" class="form-control" id="textfield4" value="{{ data.end_date|date:'Y-m-d' }}" required/></td>
    </tr>
    <tr>
      <td>EXPRIENCE</td>
      <td><input type="text" name="textfield5" class="form-control" id="textfield5" value="{{ data.experience }}" required/></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="EDIT" /></td>
    </tr>
  </table>
</form>

{% endblock %}

{#</body>#}
{#</html>#}
