{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}


{% extends "company/company_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/view_vaccancy_company_post/#abc">
    {% csrf_token %}
  <table class="table table-borderd mt-4 -align-center ">
    <tr>
      <td width="103"><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
      <td width="81"><input type="submit" name="button" id="button" value="search" class="btn btn-info"/></td>
    </tr>
  </table>
  <table width="642" border="1" class="table table-borderd mt-4 -align-center ">
    <tr>
      <th width="66" height="62" scope="col">SL NO</th>
      <th width="14" scope="col">JOB TITLE</th>
      <th width="14" scope="col">STARTING DATE</th>
      <th width="14" scope="col">ENDING DATE</th>
      <th width="14" scope="col">VACCANCY</th>
      <th width="14" scope="col">EXPERIENCE</th>
      <th width="227" scope="col">&nbsp;</th>
    </tr>

      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.job_title }}</td>
      <td>{{ i.start_date}}</td>
      <td>&nbsp;{{ i.end_date}}</td>
      <td>&nbsp;{{ i.vaccancy_no}}</td>
      <td>&nbsp;{{ i.experience}}</td>
      <td><p><a href="/myapp/edit_vaccancy_get/{{ i.id }}#abc" class="btn btn-info">EDIT</a></p>
      <p><a href="/myapp/delete_vaccancy_get/{{ i.id }}#abc" onclick="return confirm('Are you sure')" class="btn btn-danger">DELETE</a></p>
      <p><a href="/myapp/view_vaccancy_request_get/{{ i.id }}#abc" class="btn btn-warning">REQUEST</a></p>
      <p><a href="/myapp/add_vaccancy_company_skill_get/{{ i.id }}#abc" class="btn btn-success">SKILL</a></p>
      <p><a href="/myapp/view_skill_company_get/{{ i.id }}#abc" class="btn btn-info">VIEW SKILL</a></p></td>

    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>

{% endblock %}

{#</body>#}
{#</html>#}
