{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends "company/company_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/view_vaccancy_request_post/#abc">
    {% csrf_token %}
  <table class="table table-borderd mt-4 -align-center ">
    <tr>
      <td>FROM</td>
      <td><input type="date" name="textfield" id="textfield" class="form-control" required/></td>
      <td>TO</td>
      <td><input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-info"/></td>
    </tr>
  </table>
  <table width="200" border="1" class="table table-borderd mt-4 -align-center ">
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">DATE</th>
      <th scope="col">USERNAME</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">CONTACT</th>
      <th scope="col"> </th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.USER.name }}</td>
      <td>{{ i.USER.place }},<br>{{  i.USER.post}},<br>{{ i.USER.pin }},<br>{{ i.USER.district }},<br>{{ i.USER.state }}</td>
      <td>{{ i.USER.email }},<br>{{  i.USER.phone}}</td>
      <td><a href="/myapp/approve_request_get/{{ i.id }}#abc" class="btn btn-success">APPROVE</a></td>
      <td><a href="/myapp/reject_request_get/{{ i.id }}#abc" class="btn btn-danger">REJECT</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>


{% endblock %}

{#</body>#}
{#</html>#}
